body {
   background-image: url(hi.jpg); /*new*/
   background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

html{
  height: 100%;
  width: 100%;
}

#myCanvas {
  border-radius: 30px;
  border: 15px double rgb(0, 0, 0);
}

.container{
  display: flex;
  flex-wrap: wrap;
  background-color: rgba(255, 255, 255, 0.6);  /*new*/
  justify-content: space-around;
  align-items: flex-start;
  padding-bottom: 20px;
  border-radius: 10px;

}

.pic{
  height: 400px;
  width: 400px;
  object-fit: cover;
  border-radius: 30px;
  border: 15px double rgb(0, 0, 0);
}

h2{
  color: black;
}

#start{
  text-align: left;
}

#end{
  text-align: right;
  color:rgb(109, 66, 31);  /*new*/
}
